[submodule "vim/.vim/bundle/vim-pathogen"]
	path = vim/.vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim/.vim/bundle/vim-bundler"]
	path = vim/.vim/bundle/vim-bundler
	url = git@github.com:tpope/vim-bundler.git
[submodule "vim/.vim/bundle/vim-sensible"]
	path = vim/.vim/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim/.vim/bundle/vim-ruby"]
	path = vim/.vim/bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "terminal/gnome-terminal-colors-solarized"]
	path = terminal/gnome-terminal-colors-solarized
	url = git@github.com:sigurdga/gnome-terminal-colors-solarized.git
[submodule "git/git-flow-completion"]
	path = git/git-flow-completion
	url = git@github.com:bobthecow/git-flow-completion.git
[submodule "terminal/osx-terminal.app-colors-solarized"]
	path = terminal/osx-terminal.app-colors-solarized
	url = git@github.com:tomislav/osx-terminal.app-colors-solarized.git
[submodule "vim/.vim/bundle/vdebug"]
	path = vim/.vim/bundle/vdebug
	url = git@github.com:joonty/vdebug.git
[submodule "drupal/drush"]
	path = drupal/drush
	url = git@github.com:drush-ops/drush.git
[submodule "vim/.vim/bundle/vim-ansible-yaml"]
	path = vim/.vim/bundle/vim-ansible-yaml
	url = git@github.com:chase/vim-ansible-yaml.git
[submodule "drupal/drupalvim"]
	path = drupal/drupalvim
	url = http://git.drupal.org/project/vimrc.git
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = vim/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "applications/phpstorm/intellij-colors-solarized"]
	path = applications/phpstorm/intellij-colors-solarized
	url = https://github.com/jkaving/intellij-colors-solarized.git
